*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}

#cardapio{
    margin: 30px;
    width: 90%;
    height: 90%;
}

.tituloS{
    margin: 30px;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
}

.imagens{
    margin: 30px;
    margin-top: 15px;
    width: 350px;
    height: 350px;
}

.alinhar{
    display: flex;
    align-items: center;
}

.explicativo{
    margin: 0px;
    font-family: 'Inter', sans-serif;
}